@model PMTool.Models.Priority

@* This partial view defines form fields that will appear when creating and editing entities *@

<tr>
    <td>
        @Html.LabelFor(model => model.Name)
    </td>
    <td>
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </td>
</tr>
<tr>
    <td>
        @Html.LabelFor(model => model.Description)
    </td>
    <td>

        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </td>
</tr>
