@model IEnumerable<PMTool.Models.Task>
@*<table class="table table-bordered" id="dyntable">*@
    <thead>
        <tr>
            <th>Task Title
            </th>
            <th>Project Name
            </th>
            @*            <th>Description</th>*@
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Sub Tasks
            </th>
           @* <th>Add Sub Task</th>*@

         @*   <th>Assign To</th>*@
            <th>Created by</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model!=null)
        {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayTextFor(_ => item.Title).ToString()
                </td>
                <td>
                    @item.Project.Name
                </td>
                @*       <td>
                    @Html.DisplayTextFor(_ => item.Description).ToString()
                </td>*@
                <td>
                    @if(item.StartDate!=null)
                    {<span>@item.StartDate.Value.ToString("dd/MM/yyyy")</span>}
                </td>

                <td>
                     @if(item.EndDate!=null)
                    {<span>@item.EndDate.Value.ToString("dd/MM/yyyy")</span>}
                </td>

                <td>
                    @if (item.ProjectStatusID != null)
                    {
                        @item.ProjectStatus.Name
                    }
                </td>

                <td>
                    @if (item.ChildTask.Count > 0)
                    {
                        <div class="btn-group">
                            <button class="btn btn-small">Sub Tasks (@item.ChildTask.Count)</button>
                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (PMTool.Models.Task task in item.ChildTask)
                                {
                                    <li>@Html.ActionLink(task.Title, "Edit", new { id = task.TaskID }, new { @target = "_blank" })</li>
                                
                                }
                                <li class="divider"></li>
                                <li>@Html.ActionLink("All Sub Tasks", "SubTaskList", new { ProjectID = item.ProjectID, TaskID = item.TaskID }, new { @target = "_blank" })</li>


                            </ul>
                        </div>
                    }
                    @if (item.ChildTask.Count == 0)
                    {
                        @Html.Raw("No Sub Task")
                    }

                </td>
            @*    <td>
                    @Html.ActionLink("Add SubTask", "CreateSubTask", new { ProjectID = item.ProjectID, TaskID = item.TaskID }, new { @title = "Add SubTask" })
                </td>*@
             @*   <td>
                    @foreach (User user in item.Users)
                    {
   
                        <span>@user.FirstName,</span>
                    }*@
                    @*@Html.DisplayTextFor(_ => Model.CreatedByUser.FirstName).ToString()*@
                @*</td>*@
                <td>

                    @Html.DisplayTextFor(_ => item.CreatedByUser.FirstName).ToString()
                </td>


                <td align="center">
                    @Html.ActionLink(" ", "Edit","Tasks", new { id = item.TaskID }, new { @class = "icon-edit", @title = "Edit" })
                    |
                    @Html.ActionLink(" ", "Details", "Tasks", new { id = item.TaskID }, new { @class = "icon-list-alt", @title = "Details" })
                    |
                    @Html.ActionLink(" ", "Delete", "Tasks", new { id = item.TaskID }, new { @class = "icon-trash", @title = "Delete" })
                </td>
            </tr>
        }
        }
    </tbody>
@*</table>*@


