@{
    ViewBag.Title = "Home Page";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div class="">
            <h4 style="text-align: center !important;">Task Assigned to you</h4>

            <h5><u>Overdue Tasks</u></h5>
            <table class="table table-bordered" id="dyntable">
                @{
                    @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.OverdueTask)
                }
            </table>

            <div>
                <h5><u>Due Tasks</u></h5>
                <table class="table table-bordered dyntable" id="dyntable5">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Today's Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable1">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.TodaysTask)
                    }
                </table>
            </div>
            <div>
                <h5><u>Due Tomorrow Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable2">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTomorrowTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Future Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable3">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.FutureTask)
                    }
                </table>
            </div>


            @*  <table class="table table-bordered" id="dyntable">
                <thead>
                    <tr>

                        <th>Task Title
                        </th>
                        <th>Project Name
                        </th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th></th>
               
                    </tr>
                </thead>
                <tbody>

                    @foreach (var task in (List<PMTool.Models.Task>)ViewBag.TodaysTask)
                    {
                        <tr>

                            <td>
                                @Html.DisplayTextFor(_ => task.Title).ToString()
                            </td>
                            <td>
                                @task.Project.Name
                            </td>

                            <td>
                                @task.StartDate.ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @task.EndDate.ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @if (task.ProjectStatusID != null)
                                {
                                    @task.ProjectStatus.Name
                                }
                            </td>
                            <td align="center">
                                @Html.ActionLink(" ", "Edit","Tasks", new { id = task.TaskID }, new { @class = "icon-edit", @title = "Edit" })
                                |
                                @Html.ActionLink(" ", "Details", "Tasks", new { id = task.TaskID }, new { @class = "icon-list-alt", @title = "Details" })
                                |
                                @Html.ActionLink(" ", "Delete", "Tasks", new { id = task.TaskID }, new { @class = "icon-trash", @title = "Delete" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
            @*   </div>*@
            <!--alert-->

            @*       <div class="row-fluid">
            <div class="span8">
                <ul class="widgeticons row-fluid">*@
            @*       <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Project</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/image.png" alt="" /><span>Add Task</span></a></li>
                            <li class="one_fifth"><a href="#"><img src="../../Content/themes/site/img/gemicon/reports.png" alt="" /><span>Edit Profile</span></a></li>
                            <li class="one_fifth"><a href="#">
                                <img src="../../Content/themes/site/img/gemicon/edit.png" alt="" /><span>New Article</span></a>

                            </li>
                             <li class="one_fifth last"><a href=""><img src="img/gemicon/mail.png" alt="" /><span>Check Mail</span></a></li>*@

            @*    </ul>

                <br />*@



        </div>
        <!--span8-->
        @* <div class="span4">
                <h4 class="widgettitle nomargin">Calendar</h4>
                <div class="widgetcontent bordered" id="datepicker">
                </div>
                <!--widgetcontent-->

                <!--widgetcontent-->

                <!--widgetcontent-->
            </div>*@
        <!--span4-->
    </div>
    <!--row-fluid-->
</div>
<!--contentinner-->
</div>
<!--maincontent-->
