@model IEnumerable<PMTool.Models.Task>

@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">
    function ShowEffortEntryForm(taskId) {
        
        var url = jQuery('#ModalpopupShowEffortEntryForm').data('url') + "/" + taskId;
            alert(url);

            jQuery.ajax({
                url: url,
                //async: false,
                cache: false,
                beforeSend: function () {
                    jQuery("#ModalLoading").modal('show');
                },
                success: function (data) {
                    //alert("Success..");
                    jQuery('#popupcontainerShowEffortEntryForm').html(data);
                    jQuery("#ModalLoading").modal('hide');
                    jQuery("#ModalpopupShowEffortEntryForm").modal('show');
                },
                error: function (error) {
                    jQuery.jGrowl('somethig is wrong', { life: 5000 });
                }
            });
            //alert("Working..");
            return false;
        }


</script>

@*<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>*@
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div id="divTaskList" class="">
             @{@Html.Partial("_TaskList", Model)}

            @*<h4 style="text-align: center !important;">Task Assigned to you</h4>

            <h5><u>Overdue Tasks</u></h5>
            <table class="table table-bordered" id="dyntable">
                @{
                    @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.OverdueTask)
                }
            </table>
            
            <div>
                <h5><u>Due Tasks</u></h5>
                <table class="table table-bordered dyntable" id="dyntable5">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Today's Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable1">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.TodaysTask)
                    }
                </table>
            </div>
            <div>
                <h5><u>Due Tomorrow Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable2">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTomorrowTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Future Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable3">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.FutureTask)
                    }
                </table>
            </div>*@
@*            <table class="table table-bordered dyntable">
                <thead>
                    <tr>
                        <th>Group By
                        </th>
                        <th>Task Title
                        </th>
                        <th>Project Name
                        </th>

                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Sub Tasks
                        </th>

                        <th>Created by</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        
                        //overdueTaskList = userTaskList.Where(p => (p.EndDate < DateTime.Today) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                        //dueTaskList = userTaskList.Where(p => (p.StartDate < DateTime.Today && p.EndDate >= DateTime.Today) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                        //todaysTaskList = userTaskList.Where(p => p.StartDate == DateTime.Today && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                        //dueTomorrowTaskList = userTaskList.Where(p => p.EndDate == DateTime.Today.AddDays(1) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();


                        List<PMTool.Models.Task> dueTaskList = Model.Where(p => (p.StartDate < DateTime.Today && p.EndDate >= DateTime.Today) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                            //(List<PMTool.Models.Task>)ViewBag.DueTask;
                        List<PMTool.Models.Task> overdueTaskList = Model.Where(p => (p.EndDate < DateTime.Today) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList(); 
                            //(List<PMTool.Models.Task>)ViewBag.OverdueTask;
                        List<PMTool.Models.Task> todaysTaskList = Model.Where(p => p.StartDate == DateTime.Today && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                            //(List<PMTool.Models.Task>)ViewBag.TodaysTask;
                        List<PMTool.Models.Task> dueTomorrowTaskList = Model.Where(p => p.EndDate == DateTime.Today.AddDays(1) && (p.ProjectStatusID != null && p.ProjectStatus.Name != "Closed")).ToList();
                            //(List<PMTool.Models.Task>)ViewBag.DueTomorrowTask;
                        List<PMTool.Models.Task> futureTaskList = Model.Where(p => p.StartDate > DateTime.Today && (p.ProjectStatusID == null || p.ProjectStatus.Name != "Closed")).ToList();

                            //(List<PMTool.Models.Task>)ViewBag.FutureTask;
                        
                        if (overdueTaskList.Count>0)
                        {
                            overdueTaskList.ForEach(a=>a.GroupBy="Overdue Tasks");
                            @Html.Partial("_TaskList",overdueTaskList)
                        }
                       
                        
                        
                        if (dueTaskList.Count > 0)
                        {
                            dueTaskList.ForEach(a=>a.GroupBy = "Due Tasks");
                            @Html.Partial("_TaskList",dueTaskList)
                        }
                        
                        
                        
                        if (todaysTaskList.Count > 0)
                        {
                            todaysTaskList.ForEach(a=>a.GroupBy = "Today's Tasks");
                            @Html.Partial("_TaskList",todaysTaskList)
                        }
                        
                        
                        
                        if (dueTomorrowTaskList.Count > 0)
                        {
                            dueTomorrowTaskList.ForEach(a=>a.GroupBy = "Due Tomorrow Tasks");
                            @Html.Partial("_TaskList",dueTomorrowTaskList)
                        }
                        
                        
                        
                        if (futureTaskList.Count > 0)
                        {
                            futureTaskList.ForEach(a=>a.GroupBy = "Future Tasks");
                            @Html.Partial("_TaskList",futureTaskList)
                        }
                        
                     }
                </tbody>
            </table>*@
        </div>
        
    </div>
    <!--row-fluid-->
</div>
<!--contentinner-->

<!--maincontent-->
