@{
    ViewBag.Title = "Home Page";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <span>This is a sample description for dashboard page...</span>
</div>
<!--pagetitle-->

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <div class="">
            <h4 style="text-align: center !important;">Task Assigned to you</h4>

            <h5><u>Overdue Tasks</u></h5>
            <table class="table table-bordered" id="dyntable">
                @{
                    @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.OverdueTask)
                }
            </table>
            
            <div>
                <h5><u>Due Tasks</u></h5>
                <table class="table table-bordered dyntable" id="dyntable5">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Today's Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable1">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.TodaysTask)
                    }
                </table>
            </div>
            <div>
                <h5><u>Due Tomorrow Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable2">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.DueTomorrowTask)
                    }
                </table>
            </div>

            <div>
                <h5><u>Future Task</u></h5>
                <table class="table table-bordered dyntable" id="dyntable3">
                    @{
                        @Html.Partial("_TaskList", (List<PMTool.Models.Task>)ViewBag.FutureTask)
                    }
                </table>
            </div>


        </div>
        
    </div>
    <!--row-fluid-->
</div>
<!--contentinner-->

<!--maincontent-->
