@model PMTool.Models.EmailScheduler

@{
    ViewBag.Title = "Details | emailscheduler";
}

@*<h2>Details</h2>

<fieldset>
    <legend>EmailScheduler</legend>*@
<div class="pagetitle">
    <h1>Schedule Details
    </h1>
    <span>Schedule details below....</span>
</div>

<table class="table table-bordered table-invoice">
   <tr>
         <td class="width30">
             Title
            </td>
            <td>
                @Model.SchedulerTitles.FirstOrDefault().Text 
                   
            </td>
   </tr>
    <tr>
        <td class="width30">
            Project
        </td>
        <td>
            @(Model.Project == null ? "None" : Model.Project.Name)
        </td>
    </tr>
    <tr>
        <td class="width30">
            Schedule Type
        </td>
        <td>
            @Model.ScheduleType.FirstOrDefault().Text
        </td>
    </tr>

        <tr>
        <td class="width30">
            Scheduled Time
        </td>
        <td>
           @Model.ScheduledTime
        </td>
      </tr>

    <tr>
        <td class="width30">
            Recipient Users
        </td>
        <td>
            @Model.EmailRecipientUsers.FirstOrDefault().Text
        </td>
    </tr>

    <tr>
        <td class="width30">
            Scheduled Day
        </td>
        <td>   
            @if (Model.ScheduledDay != 0) 
            {
                 @Model.Days.FirstOrDefault().Text     
            }
                
            
        </td>
    </tr>
 

    <tr>
        <td class="width30">
            Scheduled Date
        </td>
        <td>
            @if(Model.ScheduleTypeID==3)
            {
                @String.Format("{0:g}", Model.ScheduledDate)    
            }
                             
        </td>
    </tr>
  
</table>



<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ScheduleTypeID },new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>


