@model IEnumerable<PMTool.Models.EmailScheduler>

@{
    ViewBag.Title = "Index";
}

<div class="pagetitle">
    <h1>Email Schedule Setup
    </h1>
    <span>List of email schedule setup</span>
</div>

    <table class="table table-bordered table-invoice">
    <tr>
        <th>Title
        </th>
        <th>Project
        </th>
        <th>ScheduleType
        </th>
        <th>ScheduledTime
        </th>

        <th>Recipient Users
        </th>

        <th>day
        </th>
        <th>Schedule Date
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model.OrderBy(a=>a.ScheduleTypeID))
    {
        <tr>

            <td>
                @*@item.Title*@
                @Html.DisplayTextFor(_=> item.SchedulerTitles.FirstOrDefault().Text).ToString()
            </td>
            <td>
                @(item.Project == null ? "None" : item.Project.Name)
            </td>
            <td>
                @Html.DisplayTextFor(_ => item.ScheduleType.FirstOrDefault().Text).ToString()
            </td>
            <td>
                @item.ScheduledTime
            </td>

            <td>
                @Html.DisplayTextFor(_ => item.EmailRecipientUsers.FirstOrDefault().Text).ToString()
            </td>

            <td>
                @if (item.Days.FirstOrDefault().Value != "0")
                {
                     @Html.DisplayTextFor(_ => item.Days.FirstOrDefault().Text).ToString()
                }
            </td>
            <td>
                @if (item.ScheduleTypeID == 3) 
                {
                 @String.Format("{0:g}", item.ScheduledDate)   
                }
                
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID  })
            </td>
        </tr>
    }

</table>


<br />
@Html.ActionLink("Create New", "Create", null, new { @title = "Add new schedule", @class = "btn btn-primary" })

