@model IEnumerable<PMTool.Models.EmailScheduler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Project
        </th>
        <th>
            ScheduleTypeID
        </th>
        <th>
            ScheduleType
        </th>
        <th>
            ScheduledTime
        </th>
        <th>
            RecipientUsers
        </th>
        <th>
            EmailRecipientUsers
        </th>
        <th>
            ScheduledDay
        </th>
        <th>
            day
        </th>
        <th>
            ScheduledDate
        </th>
        <th>
            IsActive
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            ModifiedBy
        </th>
        <th>
            ModifiedByUser
        </th>
        <th>
            CreatedByUser
        </th>
        <th>
            CreateDate
        </th>
        <th>
            ModificationDate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchedulerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchedulerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchedulerID })
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@(item.Project == null ? "None" : item.Project.Name)
        </td>
        <td>
			@item.ScheduleTypeID
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.ScheduleType).ToString()
        </td>
        <td>
			@item.ScheduledTime
        </td>
        <td>
			@item.RecipientUserType
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.EmailRecipientUsers).ToString()
        </td>
        <td>
			@item.ScheduledDay
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Days).ToString()
        </td>
        <td>
			@String.Format("{0:g}", item.ScheduledDate)
        </td>
        <td>
			@item.IsActive
        </td>
        <td>
			@item.CreatedBy
        </td>
        <td>
			@item.ModifiedBy
        </td>
        <td>
			@(item.ModifiedByUser == null ? "None" : item.ModifiedByUser.LastName)
        </td>
        <td>
			@(item.CreatedByUser == null ? "None" : item.CreatedByUser.LastName)
        </td>
        <td>
			@String.Format("{0:g}", item.CreateDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ModificationDate)
        </td>
    </tr>
}

</table>


