@model PMTool.Models.TimeLog

<script type="text/javascript">

    function OnChangeEvent() {

        var InputTaskHour = parseFloat(document.getElementById('TaskHour').value).toFixed(2);
        var OriginalTaskHour = parseFloat(@ViewBag.RemainingHour).toFixed(2);
        if (InputTaskHour != 0 || InputTaskHour != null) {

            var remainingHour = parseFloat(@ViewBag.RemainingHour).toFixed(2) - parseFloat(document.getElementById('TaskHour').value).toFixed(2);
            document.getElementById('RemainingHour').value = remainingHour;



        }



    }

</script>


<tr>
    <td>
        @Html.LabelFor(model => model.EntryDate)
    </td>
    <td>
       @Html.TextBoxFor(model => model.EntryDate, "{0:dd/MM/yyyy}",  new { @class = "datepicker" })
        @Html.ValidationMessageFor(model => model.EntryDate)
    </td>
</tr>


<tr>
    <td>
        @Html.LabelFor(model => model.TaskHour)
    </td>
    <td>
        @Html.TextBoxFor(model => model.TaskHour,new {@onchange = "OnChangeEvent();" } )
        @Html.ValidationMessageFor(model => model.TaskHour)

          
    </td>
</tr>


<tr>
    <td>
        @Html.LabelFor(model => model.RemainingHour)
    </td>
    <td>
        @Html.TextBoxFor(model => model.RemainingHour, new { @Value = ViewBag.RemainingHour})
        @Html.ValidationMessageFor(model => model.RemainingHour)

          
    </td>
</tr>


<tr>
    <td>
        @Html.LabelFor(model => model.Description)
    </td>
    <td>
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)

          
    </td>
</tr>

@Html.HiddenFor(model => model.TaskID)
@Html.HiddenFor(model => model.SprintID)


       <script type="text/javascript">
           jQuery(document).ready(function () {

               jQuery("#TaskHour").val('');


           });
         
       </script>

<script type="text/javascript">
    jQuery(".datepicker").datepicker({
        dateFormat: "dd/mm/yy",
        onSelect: function () {
        }
    });

</script>


   

          


