@using MvcPaging
@model IPagedList<PMTool.Models.Task>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Task Title
            </th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Sub Tasks
            </th>
            <th>Add Sub Task</th>

            <th>Assign To</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <strong>
                        <a href="#" onclick="return ShowTaskDetails(@item.TaskID); ">@item.Title</a>
                        </strong>
                </td>
                <td>
                    @if (item.StartDate != null)
                    {<span>@item.StartDate.Value.ToString("dd/MM/yyyy")</span>}
                </td>

                <td>
                    @if (item.EndDate != null)
                    {<span>@item.EndDate.Value.ToString("dd/MM/yyyy")</span>}
                </td>

                <td>
                    @if (item.ProjectStatusID != null)
                    {
                        @item.ProjectStatus.Name
                    }
                </td>

                <td>
                    @if (item.ChildTask.Count > 0)
                    {
                        <div class="btn-group">
                            <button class="btn btn-small">Sub Tasks (@item.ChildTask.Count)</button>
                            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (PMTool.Models.Task task in item.ChildTask)
                                {
                                    <li>@Html.ActionLink(task.Title, "Edit", new { id = task.TaskID }, new { @target = "_blank" })</li>
                                
                                }
                                <li class="divider"></li>
                                <li>@Html.ActionLink("All Sub Tasks", "SubTaskList", new { ProjectID = item.ProjectID, TaskID = item.TaskID }, new { @target = "_blank" })</li>


                            </ul>
                        </div>
                    }
                    @if (item.ChildTask.Count == 0)
                    {
                        @Html.Raw("No Sub Task")
                    }

                </td>
                <td>
                    @if (item.Users.Any(u => u.Username == User.Identity.Name) || item.Project.ProjectOwners.Any(u => u.Username == User.Identity.Name))
                    {
                        @Html.ActionLink("Add SubTask", "CreateSubTask", new { ProjectID = item.ProjectID, TaskID = item.TaskID }, new { @title = "Add SubTask" })
                    }
                </td>
                <td>
                    @foreach (User user in item.Users)
                    {
   
                        <span>@user.FirstName,</span>
                    }

                <td align="center">
                    @if (item.Users.Any(u => u.Username == User.Identity.Name) || item.Project.ProjectOwners.Any(u => u.Username == User.Identity.Name))
                    {
                        @Html.ActionLink(" ", "Edit", new { id = item.TaskID }, new { @class = "icon-edit", @title = "Edit" })
                        <span>|</span>
                        @Html.ActionLink(" ", "Delete", new { id = item.TaskID }, new { @class = "icon-trash", @title = "Delete" })
                    }
                </td>

            </tr>
        }
    </tbody>
    </table>




<div class="pager1">
   @* @Html.Raw(Ajax.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "P" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                CssClass = ""
            },
            new AjaxOptions
            {
                UpdateTargetId = "divTaskList",
                OnBegin = "beginPaging",
                OnSuccess = "successPaging",
                OnFailure = "failurePaging"
            }, new { controller = "Task", action = "ProjectTasks",projectID=ViewData["CurrentProjectID"], SelectedStatusID = ViewData["SelectedStatusID"],SelectedPriorityID=ViewData["SelectedPriorityID"],SelectedUserID=ViewData["SelectedUserID"],SelectedSprintID=ViewData["SelectedSprintID"]   }))*@
     @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                TooltipTitles = new TooltipTitles() { Next = "Next page {0}", Previous = "Previous page {0}", Page = "Go to page {0}" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true,
                IsShowFirstLast = true,
                IsShowPages = true
            }, new { projectID=ViewData["CurrentProjectID"], SelectedStatusID = ViewData["SelectedStatusID"],SelectedPriorityID=ViewData["SelectedPriorityID"],SelectedUserID=ViewData["SelectedUserID"],SelectedSprintID=ViewData["SelectedSprintID"]}))
    <div class="well">
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries</div>
</div>