@model PMTool.Models.ProjectStatus

@{
    ViewBag.Title = "Add | Status";
}




<div class="pagetitle">
    <h1>Status Add
    </h1>
    <span>Add Status below....</span>
</div>
     @using (Ajax.BeginForm("CreateStatus", "Tasks", new AjaxOptions { UpdateTargetId = "kanbanBoard", OnBegin = "Loading()", OnComplete = "Unload()", OnSuccess = "HidePopup('ModalpopupProject')" }, new { @id = "form" }))
 {
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.ProjectID)

    <table class="table table-bordered table-invoice">
        <tbody>

            <tr>
                <td>Status
                </td>
                <td>
                    @*<input type="text" id="itemText" value="@ViewBag.CurrentStatus" placeholder="Add Status" />
                    <button id="btn2" class="btn">+  </button>
                    <input type="hidden" id="hdnCurrentStatus" value="@ViewBag.CurrentStatus" />*@
                    @Html.TextBoxFor(model => model.Name)
                    <button id="btn2" class="btn">+  </button><br />
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">

                jQuery(document).ready(function () {

                    jQuery('#form').removeData('validator');
                    jQuery('#form').removeData('unobtrusiveValidation');
                    jQuery("#form").each(function () { jQuery.data(jQuery(this)[0], 'validator', false); }); //enable to display the error messages
                    jQuery.validator.unobtrusive.parse("#form");
                });
            </script>