@model PMTool.Models.ProjectStatus

@{
    ViewBag.Title = "Edit | Project";
}




<div class="pagetitle">
    <h1>Project Edit
    </h1>
    <span>Edit Project below....</span>
</div>
     @using (Ajax.BeginForm("CreateStatus", "Tasks", new AjaxOptions { UpdateTargetId = "kanbanBoard", OnBegin = "Loading()",OnComplete="Unload()" }))
 {
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.ProjectID)

    <table class="table table-bordered table-invoice">
        <tbody>

            <tr>
                <td>Status
                </td>
                <td>
                    @*<input type="text" id="itemText" value="@ViewBag.CurrentStatus" placeholder="Add Status" />
                    <button id="btn2" class="btn">+  </button>
                    <input type="hidden" id="hdnCurrentStatus" value="@ViewBag.CurrentStatus" />*@
                    @Html.TextBoxFor(model => model.Name)
                    <button id="btn2" class="btn">+  </button>
                </td>
            </tr>
        </tbody>
    </table>
}
