@model PMTool.Models.Task

@{
    ViewBag.Title = "Details | Task";
}

<div class="pagetitle">
    <h1>
        Task Details
    </h1>
    <span>Task details below....</span>
</div>
<table class="table table-bordered table-invoice">
    <tbody>
        <tr>
            <td class="width30">
                Project
            </td>
            <td>
                @(Model.Project == null ? "None" : Model.Project.Name)
            </td>
        </tr>
        <tr>
            <td class="width30">
               Task Title
            </td>
            <td>
                @Html.DisplayTextFor(_ => Model.Title).ToString()
            </td>
        </tr>
        <tr>
            <td class="width30">
                Description
            </td>
            <td style="padding-left:20px;">
               @* @Html.DisplayTextFor(_ => Model.Description).ToString()*@
               @Html.Raw(@Model.Description)
                 
            </td>
        </tr>
        <tr>
            <td class="width30">
                Start Date
            </td>
            <td>
                @if (Model.StartDate!=null)
                {
                    @Model.StartDate.Value.ToString("dd/MM/yyyy")
                }
               @* @Html.DisplayTextFor(_ => Model.StartDate).ToString()*@
            </td>
        </tr>

        <tr>
            <td class="width30">
                End Date
            </td>
            <td>
                @if (Model.EndDate != null)
                {
                    @Model.EndDate.Value.ToString("dd/MM/yyyy")
                }
                @*@Html.DisplayTextFor(_ => Model.EndDate).ToString()*@
            </td>
        </tr>
                <tr>
            <td class="width30">
                Task Hour
            </td>
            <td> 
                @Model.TaskHour
                @*@Html.DisplayTextFor(_ => Model.EndDate).ToString()*@
            </td>
        </tr>

          <tr>
            <td class="width30">
                Task Status
            </td>
            <td>
               @Html.DisplayTextFor(_ => Model.ProjectStatus.Name).ToString()
            </td>
        </tr>

         <tr>
            <td class="width30">
                Created By
            </td>
            <td>
                @Html.DisplayTextFor(_ => Model.CreatedByUser.FirstName).ToString()
            </td>
        </tr>
         <tr>
            <td class="width30">
                Assign To
            </td>
            <td>
                @foreach (User user in Model.Users)
                {
   
                    <span>@user.FirstName,</span>
                }
                @*@Html.DisplayTextFor(_ => Model.CreatedByUser.FirstName).ToString()*@
            </td>
        </tr>
        <tr>
            <td class="width30">
                Sprint
            </td>
            <td>
                @if (Model.SprintID != null)
                    {
                       <span>@Model.Sprint.Name</span> 
                    }
            </td>
        </tr>
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }, new { @class = "btn btn-primary" })
    |
    @Html.ActionLink("Back to List", "ProjectTasks", "Tasks", new { @ProjectID=Model.ProjectID}, new { @class = "btn" })
</p>



