@model PMTool.Models.Task

@{
    ViewBag.Title = "Edit | Task";
}



<div class="pagetitle">
    <h1>
        Task Edit
    </h1>
    <span>Edit Task below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.TaskID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreateDate)
   
    <table class="table table-bordered table-invoice">
        <tbody>
    @Html.Partial("_CreateOrEdit", Model)
            <tr>
                <td class="width30">
                </td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index","Tasks", null,  new { @class="btn"})
</div>
