@model PMTool.Models.ProjectStatus

@{
    ViewBag.Title = "Edit | Status";
}




<div class="pagetitle">
    <h1>Status Edit
    </h1>
    <span>Edit Status below....</span>
</div>
     @using (Ajax.BeginForm("EditStatus", "Tasks", new AjaxOptions { UpdateTargetId = "kanbanBoard", OnBegin = "Loading()", OnComplete = "Unload()", OnSuccess = "HidePopup('ModalpopupEditStatus')" }, new { @id = "form" }))
 {
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.ProjectID)
    @Html.HiddenFor(model => model.ProjectStatusID)

    <table class="table table-bordered table-invoice">
        <tbody>

            <tr>
                <td>Status
                </td>
                <td>
                    @*<input type="text" id="itemText" value="@ViewBag.CurrentStatus" placeholder="Add Status" />
                    <button id="btn2" class="btn">+  </button>
                    <input type="hidden" id="hdnCurrentStatus" value="@ViewBag.CurrentStatus" />*@
                    @Html.TextBoxFor(model => model.Name)
                    <button id="btn2" class="btn">+  </button>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
    jQuery(document).ready(function () {
        jQuery('#form').removeData('validator');
        jQuery('#form').removeData('unobtrusiveValidation');
        jQuery("#form").each(function () { jQuery.data(jQuery(this)[0], 'validator', false); }); //enable to display the error messages
        jQuery.validator.unobtrusive.parse("#form");
    });
</script>