@model PMTool.Models.Task

@{
    ViewBag.Title = "Edit | Task";
}


@if (TempData["Message"]!=null)
{
<div class="alert alert-info">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <strong>Warning!</strong>
    @TempData["Message"]
</div>
}

<div class="pagetitle">
    <h1>
        Task Edit
    </h1>
    <span>Edit Task below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.TaskID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.ProjectID)
    @Html.HiddenFor(model => model.ParentTaskId)
   
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td class="width30">
                    Project
                </td>
                <td>
                    @Html.DisplayTextFor(model => model.Project.Name)
                </td>
            </tr>
            @Html.Partial("_CreateOrEdit", Model)
            <tr>
                <td class="width30">
                </td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "ProjectTasks", "Tasks", new { @ProjectID=Model.ProjectID}, new { @class = "btn" })
</div>
