@model IEnumerable<PMTool.Models.Task>

@{
    if (ViewBag.CurrentProject != null)
    {
        PMTool.Models.Project projetc = (PMTool.Models.Project)ViewBag.CurrentProject;
        ViewBag.Title = projetc.Name + " | Kanban Board";
    }
}




<div class="pagetitle">
    <h1>@(((PMTool.Models.Project)ViewBag.CurrentProject).Name) Kanban Board</h1>
    <span>@(((PMTool.Models.Project)ViewBag.CurrentProject).Name)  Kanban Board....</span>
</div>

<br />
<br />
<script type="text/javascript" >
jQuery(function(){
    jQuery('.dragbox')
	.each(function(){
		jQuery(this).hover(function(){
			//jQuery(this).find('h2').addClass('collapse');
		}, function(){
			//jQuery(this).find('h2').removeClass('collapse');
		})
		.find('h2').hover(function(){
			//jQuery(this).find('.configure').css('visibility', 'visible');
		}, function(){
			//jQuery(this).find('.configure').css('visibility', 'hidden');
		})
		.click(function(){
			jQuery(this).siblings('.dragbox-content').toggle();
		})
		.end()
		.find('.configure').css('visibility', 'hidden');
	});
    jQuery('.column').sortable({
		connectWith: '.column',
		handle: 'h2',
		cursor: 'move',
		placeholder: 'placeholder',
		forcePlaceholderSize: true,
		opacity: 0.4,
		stop: function(event, ui){
		    jQuery(ui.item).find('h2').click();
			var sortorder='';
			jQuery('.column').each(function () {
				var itemorder=jQuery(this).sortable('toArray');
				var columnId=jQuery(this).attr('id');
				sortorder+=columnId+'='+itemorder.toString()+'&';
			});
			alert('SortOrder: '+sortorder);
			/*Pass sortorder variable to server using ajax to save state*/
		}
	})
	.disableSelection();
});
</script>
<div style="background-color:#f7de55">

@foreach (var status in (List<PMTool.Models.EnumCollection.TaskStatus>)ViewBag.AllStatus)
{
        <fieldset class='column' id='@Convert.ToInt32(status)'>
        
 <legend class="widgettitle ctitle"> @Convert.ToString(status).Replace("_", " ")</legend>
    @foreach (var item in Model)
    {
        if (Convert.ToInt32(status) == Convert.ToInt32(item.Status))
        {
        <div class="dragbox" id="@item.TaskID" >
            <h2>@item.Title</h2>
            <div class="dragbox-content"  style="display: none;">
                @item.Description
            </div>
        </div>
            }
        }
</fieldset>
}
    </div>
<hr style="clear:both;" />