@model IEnumerable<PMTool.Models.Task>

@{
    if (ViewBag.CurrentProject != null)
    {
        PMTool.Models.Project projetc = (PMTool.Models.Project)ViewBag.CurrentProject;
        ViewBag.Title = projetc.Name + " | Kanban Board";
    }
}




<div class="pagetitle">
    <h1>@(((PMTool.Models.Project)ViewBag.CurrentProject).Name) Kanban Board</h1>
    <span>@(((PMTool.Models.Project)ViewBag.CurrentProject).Name)  Kanban Board....</span>
</div>
<br />

<div class="msghead">
    <ul class="msghead_menu">
        @{
            if (ViewBag.CurrentProject != null)
            {
                PMTool.Models.Project projetc = (PMTool.Models.Project)ViewBag.CurrentProject;
            <li>
                <a data-original-title="Tooltip on left" data-rel="tooltip" data-placement="left" rel="tooltip" href="#" id="showdata" onclick="return ShowProjectForm(@projetc.ProjectID)"><span class="icon-plus" for="showdata"></span>Add Column</a>
            </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>
                <a data-original-title="Tooltip on left" data-rel="tooltip" data-placement="left" rel="tooltip" href="#"  id="showTask" onclick="return ShowTaskForm(@projetc.ProjectID)"><span class="icon-plus" for="showTask"></span>Add Task</a>
            </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>
                <a data-original-title="Tooltip on left" data-rel="tooltip" data-placement="left" rel="tooltip" href="#"  id="showSprint" onclick="return ShowSprintForm(@projetc.ProjectID)"><span class="icon-plus" for="showSprint"></span>Add Sprint</a>
            </li>
    }
        }
    </ul>
</div>
<br />
<div>
<div id="kanbanBoard" class="kanbanBoard">
   
     @{Html.RenderAction("_Kanban", "Tasks", new { ProjectID = ((PMTool.Models.Project)ViewBag.CurrentProject).ProjectID });}
</div>
    </div>
<hr style="clear: both;" />
<div id='Modalpopup'  data-url='@Url.Action("EditFromKanban", "Tasks")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainer'>
    </div>
</div>
<div id='ModalpopupProject' data-url='@Url.Action("CreateStatus", "Tasks")' style="width:400px !important;height:160px !important;" class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerProject'>
    </div>
</div>
<div id='ModalpopupTask' data-url='@Url.Action("CreateFromKanban", "Tasks")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerTask'>
    </div>
</div>
<div id='ModalpopupEditStatus' data-url='@Url.Action("EditStatus", "Tasks")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerEditStatus'>
    </div>
</div>
<div id='ModalpopupCreateSprint' data-url='@Url.Action("CreateSprintFromKanban", "Tasks")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerCreateSprint'>
    </div>
</div>
<div id='ModalpopupShowActivity' data-url='@Url.Action("Activity", "Tasks")' class="modal hide fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div id='popupcontainerShowActivity'>
    </div>
</div>
<script type="text/javascript">

    function ShowActivity(id) {
        var url = jQuery('#ModalpopupShowActivity').data('url') + "?taskID=" + id;

        jQuery.ajax({
            url: url,
            cache: false,
            success: function (data) {
                jQuery('#popupcontainerShowActivity').html(data);
                jQuery("#ModalpopupShowActivity").modal('show');
            }
        });
        return false;
    }

    function ShowEditForm(id) {
        var url = jQuery('#Modalpopup').data('url')+"/"+id;

        jQuery.ajax({
            url: url,
            cache: false,
            success: function (data) {
                jQuery('#popupcontainer').html(data);
                jQuery("#Modalpopup").modal('show');
            }
        });
        return false;
    }

    function ShowProjectForm(id) {
        var url = jQuery('#ModalpopupProject').data('url') + "/" + id;

        jQuery.ajax({
            url: url,
            cache: false,
            success: function (data) {
                jQuery('#popupcontainerProject').html(data);
                jQuery("#ModalpopupProject").modal('show');
            }
        });
        return false;
    }
    
    function ShowTaskForm(id) {
        var url = jQuery('#ModalpopupTask').data('url') + "/" + id;

        jQuery.ajax({
            url: url,
            cache: false,
            success: function (data) {
                jQuery('#popupcontainerTask').html(data);
                jQuery("#ModalpopupTask").modal('show');
            }
        });
        return false;
    }
    function ShowSprintForm(id) {
        //jQuery("#hideUl").css("display", "block");
        var url = jQuery('#ModalpopupCreateSprint').data('url') + "/" + id;
        jQuery.ajax({
            url: url,
            cache: false,
            success: function (data) {
                jQuery('#popupcontainerCreateSprint').html(data);
                jQuery("#ModalpopupCreateSprint").modal('show');
            }
        });
        return false;
    }
    function ShowStatusEditForm(ststus,projectID) {
        var url = jQuery('#ModalpopupEditStatus').data('url');
       

        jQuery.ajax({
            url: url,
            data: { status: ststus, projectID: projectID },
            cache: false,
            success: function (data) {
                jQuery('#popupcontainerEditStatus').html(data);
                jQuery("#ModalpopupEditStatus").modal('show');
            }
        });
        return false;
    }
</script>
