@model IEnumerable<PMTool.Models.Task>

<div class="pagetitle">
    <h1>Task Assigned to you</h1>
    <span>Task assigned to you. Please entry time log</span>
</div>

<div class="maincontent">
    <div class="contentinner content-dashboard">
        <table class="table table-bordered dyntable" id="dyntable5">


            <thead>
                <tr>
                    <th>Project Name
                    </th>

                    <th>Task Title
                    </th>

@*                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Sub Tasks
                    </th>

                    <th>Created by</th>*@

                    <th>Total Effort Entry</th>
                    <th>Effort Entry</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.Project.Name
                        </td>

                        <td>
                            <strong>@item.Title</strong>
                        </td>
                        <td>
                            @item.ActualTaskHoure
                        </td>
                        <td>
                              @Html.ActionLink(" ", "TaskTimeLog","Tasks", new { id = item.TaskID }, new { @class = "icon-time", @title = "Log Entry" })
                        </td>
           

                        @*              <td align="center">
                    @Html.ActionLink(" ", "Edit","Tasks", new { id = item.TaskID }, new { @class = "icon-edit", @title = "Edit" })
                    |
                    @Html.ActionLink(" ", "Details", "Tasks", new { id = item.TaskID }, new { @class = "icon-list-alt", @title = "Details" })
                    |
                    @Html.ActionLink(" ", "Delete", "Tasks", new { id = item.TaskID }, new { @class = "icon-trash", @title = "Delete" })
                </td>*@
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
