@model PMTool.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <table class="table table-bordered table-invoice">
        <tbody>
            <tr> 
                <td>
                    @Html.LabelFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword)
                </td>
            </tr>
                <tr>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
            </tr>
                <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td>
                </td>

                <td>
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
    
    @*
    
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>*@
        @*<input type="submit" value="Change password" />*@
    </fieldset>
}
