@model User

@{
    ViewBag.Title = "Edit | Profile";
}

<div class="pagetitle">
    <h1>Edit Profile
    </h1>
    <span>Edit Profile below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.Comment)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.IsApproved)
    @Html.HiddenFor(model => model.LastPasswordFailureDate)
    @Html.HiddenFor(model => model.LastActivityDate)
    @Html.HiddenFor(model => model.LastLockoutDate)
    @Html.HiddenFor(model => model.LastLoginDate)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.LastPasswordChangedDate)
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>

     @*       <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>*@

@*             <tr>
                <td>
              
                   <label> Confirm Password </label>
                </td>
                <td>
           
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword">
                    <span data-valmsg-replace="true" data-valmsg-for="ConfirmPassword" class="field-validation-valid"></span>
                </td>
            </tr>*@

            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Edit Profile" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
    
    @*
    
        <script type="text/javascript">
        jQuery.noConflict();

        jQuery(document).ready(function () {

    
            jQuery('input[type="submit"]').click(function () {
                //alert('Work');
                if (!jQuery.browser.msie) {
                    if (jQuery('#Password').val() == '' || jQuery('#ConfirmPassword').val() == '') {
            
                        if (jQuery('#Password').val() == '') jQuery('#Password').addClass('error'); else jQuery('#Password').removeClass('error');
                        if (jQuery('#ConfirmPassword').val() == '') jQuery('#ConfirmPassword').addClass('error'); else jQuery('#ConfirmPassword').removeClass('error');
                        if (jQuery('#ConfirmPassword').val() != ('#ConfirmPassword').val()) jQuery('#ConfirmPassword').addClass('error'); else jQuery('#ConfirmPassword').removeClass('error');
                                            return false;
                    }
                }
            })
            });
    </script>*@
    
}