
@model PMTool.Models.UserProfileViewModel

@{
    ViewBag.Title = "Edit | Profile";
}

<div class="pagetitle">
    <h1>Edit Profile
    </h1>
    <span>Edit Profile below....</span>
</div>

@{
    if(ViewBag.Flag=="1")
    {
        <div class="alert alert-success">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                              <strong>Well done!</strong> Your profile successfully updated.
                            </div>
    }
    
}




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    
    
    
    
    <table class="table table-bordered table-invoice">
        <tbody>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                   <strong>@Model.Email </strong>
                </td>
            </tr>



            <tr>
                <td>
                    @Html.LabelFor(model => model.FirstName)
                </td>
                <td>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>

            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Edit Profile" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
        
}