

@model PMTool.Models.RegisterModel
@{
    Layout = null;
    ViewBag.Title = "Signup";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PM Tools</title>
    <link rel="stylesheet" href="../../Content/themes/site/css/style.default.css" type="text/css" />
    <script type="text/javascript" src="../../Content/themes/site/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../Content/themes/site/js/jquery-migrate-1.1.1.min.js"></script>
</head>

<body class="loginbody">

    <div class="loginwrapper">
        <div class="loginwrap zindex100 animate2 bounceInDown">
            <h1 class="logintitle"><span class="iconfa-lock"></span>Signup <span class="subtitle">Hello! Create a new account!</span></h1>
            <div class="loginwrapperinner">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "signupform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <p class="animate4 bounceIn">@Html.TextBoxFor(m => m.UserName, new { @placeholder = "Email" })</p>
                    <p class="animate5 bounceIn">@Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })</p>
                    <p class="animate5 bounceIn">@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })</p>
                    
                    
                    <p class="animate6 bounceIn">
                        
                        
                        <input type="submit" value="Signup" class="btn btn-default btn-block" />
                    </p>
                    
                    @Html.ValidationSummary(true, "")

               
                }

            </div>
            <!--loginwrapperinner-->

        </div>
        <div class="loginshadow animate3 fadeInUp"></div>

    </div>
    <!--loginwrapper-->

    <script type="text/javascript">
        jQuery.noConflict();

        jQuery(document).ready(function () {

            var anievent = (jQuery.browser.webkit) ? 'webkitAnimationEnd' : 'animationend';
            jQuery('.loginwrap').bind(anievent, function () {
                jQuery(this).removeClass('animate2 bounceInDown');
            });

            jQuery('#UserName,#Password').focus(function () {
                if (jQuery(this).hasClass('error')) jQuery(this).removeClass('error');
            });

            jQuery('#signupform input[type="submit"]').click(function () {
                if (!jQuery.browser.msie) {
                    if (jQuery('#UserName').val() == '' || jQuery('#Password').val() == '' || jQuery('#ConfirmPassword').val() == '') {
                        if (jQuery('#UserName').val() == '') jQuery('#UserName').addClass('error'); else jQuery('#UserName').removeClass('error');
                        if (jQuery('#Password').val() == '') jQuery('#Password').addClass('error'); else jQuery('#Password').removeClass('error');
                        if (jQuery('#ConfirmPassword').val() == '') jQuery('#ConfirmPassword').addClass('error'); else jQuery('#ConfirmPassword').removeClass('error');
                        jQuery('.loginwrap').addClass('animate0 wobble').bind(anievent, function () {
                            jQuery(this).removeClass('animate0 wobble');
                        });
                    } else {
                        jQuery('.loginwrapper').addClass('animate0 fadeOutUp').bind(anievent, function () {
                            jQuery('#signupform').submit();
                        });
                    }
                    return false;
                }
            });
        });
    </script>
</body>
</html>
