@model PMTool.Models.ResetPasswordConfirmModel

@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutAnonymous.cshtml";
}

<div class="pagetitle">
    <h1>
        Reset Password
    </h1>
    <span>To reset your password enter new password and press the "Reset Password" button.</span>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.Hidden("Token", Model.Token)

    <table class="table table-bordered table-invoice" style="margin-top:10px;">
        <tr>
            <td>@Html.LabelFor(model => model.NewPassword)</td>
            <td> @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)</td>
        </tr>
            <tr>
            <td>@Html.LabelFor(model => model.ConfirmPassword)</td>
            <td> @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </td>
        </tr>
    </table>
}
