<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/themes/site/css/style.default.css")" rel="stylesheet" type="text/css" />
    <link id="skinstyle" rel="stylesheet" href="~/Content/themes/site/css/style.dark.css"
        type="text/css" />
    <link href="@Url.Content("~/Content/themes/site/prettify/prettify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/themes/site/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery-migrate-1.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/site/js/jquery.dataTables.nightly.js")"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/tinymce/jquery.tinymce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/chosen.jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.jgrowl.js")" type="text/javascript"></script>
   @*<script src="@Url.Content("~/Content/themes/site/js/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.flot.resize.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/themes/site/js/jquery.flot.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/prettify/prettify.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery.noConflict();
        jQuery(document).ready(function () {
            jQuery('#dyntable').dataTable({
                "sPaginationType": "full_numbers",
                "aaSortingFixed": [[0, 'asc']],
                "fnDrawCallback": function (oSettings) {

                }
            });
        });
    </script>
    <script type="text/javascript">

        jQuery.noConflict();
        jQuery().ready(function () {
            jQuery('textarea.tinymce').tinymce({
                // Location of TinyMCE script
                script_url: '../../Content/themes/site/js/tinymce/tiny_mce.js',

                // General options
                theme: "advanced",
                skin: "themepixels",
                width: "100%",
                plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",
                inlinepopups_skin: "themepixels",
                // Theme options
                theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,outdent,indent,blockquote,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "pastetext,pasteword,|,bullist,numlist,|,undo,redo,|,link,unlink,image,help,code,|,preview,|,forecolor,backcolor,removeformat,|,charmap,media,|,fullscreen",
                theme_advanced_buttons3: "",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: true,

                // Example content CSS (should be your site CSS)
                content_css: document.location.host + "/Content/themes/site/css/plugins/tinymce.css",

                // Drop lists for link/image/media/template dialogs
                template_external_list_url: "lists/template_list.js",
                external_link_list_url: "lists/link_list.js",
                external_image_list_url: "lists/image_list.js",
                media_external_list_url: "lists/media_list.js",

                // Replace values for the template plugin
                template_replace_values: {
                    username: "Some User",
                    staffid: "991234"
                }
            });


            jQuery('.editornav a').click(function () {
                jQuery('.editornav li.current').removeClass('current');
                jQuery(this).parent().addClass('current');
                if (jQuery(this).hasClass('visual'))
                    jQuery('#elm1').tinymce().show();
                else
                    jQuery('#elm1').tinymce().hide();
                return false;
            });
        });

    </script>
</head>
<body>
     @RenderSection("featured", required: false)
    <div class="mainwrapper" >

        <!-- START OF LEFT PANEL -->
        <div class="leftpanel">

            <div class="logopanel">
                <h1><a href="#">PM Tool <span>v1.0</span></a></h1>
            </div>
            <!--logopanel-->

            <div class="datewidget">Today is @DateTime.Now.ToString("f")</div>

            <div class="searchwidget">

                <div class="input-append">
                    <form method="post" action="#">
                        <div class="input-append">
                            <input class="span2 search-query" type="text" placeholder="Search here...">
                            <button class="btn" type="submit">
                                <span class="icon-search"></span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <!--searchwidget-->

            

            <div class="leftmenu">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header">Main Navigation</li>
                    <li class="active">@Html.ActionLink("Dashboard", "Index", "Home")</li>

                    <li class="dropdown"><a href=""><span class="icon-briefcase"></span>Assigned Projects</a>
                        <ul>
                            @if (ViewBag.AssignedProjects != null)
                            {
                                foreach (PMTool.Models.Project item in (List<PMTool.Models.Project>)ViewBag.AssignedProjects)
                                {
                                    <li>@Html.ActionLink(@item.Name, "ProjectTasks", "Tasks", new { @projectID = item.ProjectID }, null)
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span class="icon-th-list"></span>Own Projects</a>
                        <ul>
                            <li>@Html.ActionLink("Create New Project", "Create", "Projects")</li>
                            <li>@Html.ActionLink("Projects Created by you", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Projects Owned by you", "OwnProjects", "Projects")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Labels", "Index", "Labels")</li>
                    <li>@Html.ActionLink("Priorities", "Index", "Priorities")</li>
                    <li>@Html.ActionLink("Invite People", "InvitePeople", "Account")</li>
                   
                </ul>
            </div>
            <!--leftmenu-->

        </div>
        <!--mainleft-->
        <!-- END OF LEFT PANEL -->

        <!-- START OF RIGHT PANEL -->

        <div class="rightpanel">
            <div class="headerpanel">
                <a href="#" class="showmenu"></a>

                <div class="headerright">
                    @*@{Html.RenderPartial("_Notification");}*@
                    <div id="result">
                        @{Html.RenderAction("_Notification", "Home");}
                    </div>
                    <!--dropdown-->

                    <div class="dropdown userinfo">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">Hi, @ViewBag.UserName! <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("EditProfile", "Account")"><span class="icon-edit"></span>Edit Profile</a></li>
                            <li><a href="@Url.Action("Manage", "Account")"><span class="icon-eye-open"></span>Change Password</a></li>
                            <li><a href=""><span class="icon-wrench"></span>Account Settings</a></li>

                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("LogOff", "Account")">
                                    <span class="icon-off"></span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--dropdown-->

                </div>
                <!--headerright-->

            </div>
            <!--headerpanel-->
            <div class="breadcrumbwidget">
                <ul class="breadcrumb">
                    <li>
                        @*<a href="dashboard.html">Home</a> *@
                        <a href ="@Url.Action("Index", "Home")">Home</a>
                        
                        <span class="divider">/</span></li>
                    <li class="active">Dashboard</li>
                </ul>
            </div>
            <!--breadcrumbwidget-->
            <!--pagetitle-->

            <div class="maincontent">
                <div class="dashboard">
                 @RenderBody()
                    </div>
                <!--contentinner-->
            </div>
            <!--maincontent-->

        </div>
        <!--mainright-->
        <!-- END OF RIGHT PANEL -->


        <div class="clearfix"></div>

        <div class="footer">
            <div class="footerleft">Project Management Tool v1.0</div>
            <div class="footerright">Design & Developed by:</div>
        </div>
        <!--footer-->


    </div>
    <!--mainwrapper-->
   
</body>
</html>
<div id="jGrowl" class="top-right jGrowl">
<div class="jGrowl-notification"></div>
</div>


<script>
    function Loading() {
        jQuery("#ModalLoading").modal('show');
    }
</script>

<script>
    function Unload() {
        jQuery("#ModalLoading").modal('hide');
    }
</script>
<div id='ModalLoading' class="modal hide fade" tabindex="-1" style="width:50px!important;height:50px!important;overflow:hidden!important;" role="dialog"  aria-hidden="true">
    <img src="~/Content/themes/site/img/loaders/loader19.gif" /><br />Loading....
</div>
