<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/themes/site/css/style.default.css")" rel="stylesheet" type="text/css" />
    <link id="skinstyle" rel="stylesheet" href="~/Content/themes/site/css/style.dark.css"
        type="text/css" />
    <link href="@Url.Content("~/Content/themes/site/prettify/prettify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/themes/site/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery-migrate-1.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery-ui-1.9.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/themes/site/js/jquery.dataTables.nightly.js")"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/custom.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/tinymce/jquery.tinymce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/chosen.jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.jgrowl.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/themes/site/js/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.flot.resize.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/themes/site/js/jquery.flot.pack.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/requiredif.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/js/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/themes/site/prettify/prettify.js")" type="text/javascript"></script>

    <script type="text/javascript"> 
        jQuery.noConflict();
        jQuery.noConflict();
        jQuery(document).ready(function () {
            jQuery('#dyntable').dataTable({
                "sPaginationType": "full_numbers",
                "aaSortingFixed": [[0, 'asc']],
                "fnDrawCallback": function (oSettings) {

                }
            });

            jQuery('.dyntable').dataTable({
                "sPaginationType": "full_numbers",
                "aaSortingFixed": [[0, 'asc']],
                "fnDrawCallback": function (oSettings) {

                }
            });

        });
    </script>
    
</head>
<body>
    @RenderSection("featured", required: false)
    <div class="mainwrapper">

        <!-- START OF LEFT PANEL -->
        <div class="leftpanel">

            <div class="logopanel">
                <h1><a href="@Url.Action("Index", "Home")">PM Tool <span>v1.0</span></a></h1>
            </div>
            <!--logopanel-->

            <div class="datewidget">Today is @DateTime.Now.ToString("f")</div>

            <div class="searchwidget">

                <div class="input-append">
                    <form method="post" action="#">
                        <div class="input-append">
                            <input class="span2 search-query" type="text" placeholder="Search here...">
                            <button class="btn" type="submit">
                                <span class="icon-search"></span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <!--searchwidget-->



            <div class="leftmenu">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header">Main Navigation</li>
                    <li class="active">@Html.ActionLink("Dashboard", "Index", "Home")</li>

                    <li class="dropdown"><a href=""><span class="icon-briefcase"></span>Assigned Projects</a>
                        <ul style="display: block">
                        @*<ul>*@
                            @if (ViewBag.AssignedProjects != null)
                            {
                                foreach (PMTool.Models.Project item in (List<PMTool.Models.Project>)ViewBag.AssignedProjects)
                                {
                                <li>@Html.ActionLink(@item.Name, "ProjectTasks", "Tasks", new { @projectID = item.ProjectID }, null)
                                </li>
                                }
                            }
                        </ul>
                        </li>
                    <li class="dropdown"><a href="#"><span class="icon-th-list"></span>Own Projects</a>
                        <ul style="display: block">
                        @*<ul>*@
                            <li>@Html.ActionLink("Create New Project", "Create", "Projects")</li>
                            <li>@Html.ActionLink("Projects Created by you", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Projects Owned by you", "OwnProjects", "Projects")</li>
                        </ul>
                    </li>
                <li>@Html.ActionLink("Labels", "Index", "Labels")</li>
                <li>@Html.ActionLink("Priorities", "Index", "Priorities")</li>
                <li>@Html.ActionLink("Invite People", "InvitePeople", "Account")</li>

                </ul>
            </div>
            <!--leftmenu-->

        </div>
        <!--mainleft-->
        <!-- END OF LEFT PANEL -->

        <!-- START OF RIGHT PANEL -->

        <div class="rightpanel">
            <div class="headerpanel">
                <a href="#" class="showmenu"></a>

                <div class="headerright">
                    @*@{Html.RenderPartial("_Notification");}*@
                    <div id="result">
                        @{Html.RenderAction("_Notification", "Home");}
                    </div>
                    <!--dropdown-->

                    <div class="dropdown userinfo">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">Hi, @ViewBag.UserName! <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("EditProfile", "Account")"><span class="icon-edit"></span>Edit Profile</a></li>
                            <li><a href="@Url.Action("Manage", "Account")"><span class="icon-eye-open"></span>Change Password</a></li>
                            <li><a href=""><span class="icon-wrench"></span>Account Settings</a></li>

                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("LogOff", "Account")">
                                    <span class="icon-off"></span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--dropdown-->

                </div>
                <!--headerright-->

            </div>
            <!--headerpanel-->
            <div class="breadcrumbwidget">
            </div>
            <!--breadcrumbwidget-->
            <!--pagetitle-->

            <div class="maincontent">
                <div class="dashboard">
                    @RenderBody()
                </div>
                <!--contentinner-->
            </div>
            <!--maincontent-->

        </div>
        <!--mainright-->
        <!-- END OF RIGHT PANEL -->


        <div class="clearfix"></div>

        <div class="footer">
            <div class="footerleft">Project Management Tool v1.0</div>
            <div class="footerright">Design & Developed by:</div>
        </div>
        <!--footer-->


    </div>
    <!--mainwrapper-->

</body>
</html>
<div id="jGrowl" class="top-right jGrowl">
    <div class="jGrowl-notification"></div>
</div>


<script>
    function Loading() {
        jQuery("#ModalLoading").modal('show');
    }
</script>

<script>
    function Unload() {
        jQuery("#ModalLoading").modal('hide');
    }
</script>
<script>
    function HidePopup(data) {
        jQuery("#ModalLoading").modal('hide');
        var adata = '#' + data;
        jQuery(adata).modal('hide');
    }
    jQuery(document).ready(function () {
        //jQuery(document).ajaxStart(function () {
        //    jQuery("#ModalLoading").modal('show');
        //});
    });
</script>
<div id='ModalLoading' class="modal hide fade" tabindex="-1" style="width: 50px!important; height: 50px!important; overflow: hidden!important;" role="dialog" aria-hidden="true">
    <img src="~/Content/themes/site/img/loaders/loader19.gif" /><br />
    Loading....
</div>
