@model PMTool.Models.Project

@*@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Project</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@model PMTool.Models.Label*@

@{
    ViewBag.Title = "Create | Project";
}
<div class="pagetitle">
    <h1>
        Create Project
    </h1>
    <span>Create a Project below....</span>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td>
                    @Html.Partial("_CreateOrEdit", Model)
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index","Projects", null,  new { @class="btn"})
</div>
