@model PMTool.Models.Project

@{
    ViewBag.Title = "Edit | Project";
}




<div class="pagetitle">
    <h1>Project Edit
    </h1>
    <span>Edit Project below....</span>
</div>
@using (Html.BeginForm("CreateStatus", "Projects", FormMethod.Post, new { id = "form1" }))
{
    @Html.ValidationSummary(true)
     

    @Html.HiddenFor(model => model.ProjectID)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreateDate)

    <table class="table table-bordered table-invoice">
        <tbody>

            <tr>
                <td>Status
                </td>
                <td>
                    <input type="text" id="itemText" value="" placeholder="Add Status" />
                    <button id="btn2" class="btn">+  </button>
                    <div id="items" class="tagsinput">
                        @{
                            if (Model.allStatus != null)
                            {
                                List<string> statuses = Model.allStatus.Split(',').ToList();
                                foreach (string status in statuses)
                                {
                                    if (!string.IsNullOrEmpty(status.Trim()))
                                    {
                                        <span id="@status" class="tag">@status
                                            <a title="Removing Status" onclick="removeitbyID('@status')">x</a>
                                        </span>
                                    }
                                }
                            }
                        }
                    </div>
                    @Html.HiddenFor(model => model.allStatus, new { @id = "hdnStatus" })
                </td>
            </tr>
            <tr>
                <td class="width30"></td>
                <td>
                    <input type="submit" value="Save" class="btn btn-primary"  id="btnSave"/>
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index", "Projects", null, new { @class = "btn" })
</div>


<script>
    jQuery(document).ready(function () {
        jQuery("#btn2").click(function () {
            var id = jQuery("#items").children().length;
            id = id + 1;
            if (jQuery("#itemText").val() != "") {
                jQuery("#items").append("<span class='tag' " + " id=" + "'" + jQuery("#itemText").val() + "'" + ">" + jQuery("#itemText").val() + "&nbsp;&nbsp;<a    onclick='removeit(" + jQuery("#itemText").val() + ")' title='Removing tag'>x</a></span>");

                //jQuery("#allStatus").val(jQuery("#allStatus").val() + jQuery("#itemText").val() + ",");
                if (jQuery("#hdnStatus").val() != "") {
                    jQuery("#hdnStatus").val(jQuery("#hdnStatus").val() + "," + jQuery("#itemText").val());
                }
                else {
                    jQuery("#hdnStatus").val(jQuery("#itemText").val());
                }

                jQuery("#itemText").val("");
            }
            return false;
        });
    });

    function removeit(id) {
        var val = jQuery("#hdnStatus").val();
        var newVal = "";
        var replaceStr = "";
        if (val.indexOf(id.id + ",") == -1) {
            replaceStr = "," + id.id;
            newVal = val.replace(replaceStr, "");
        }
        else {
            replaceStr = id.id + ","
            newVal = val.replace(replaceStr, "");
        }
        id.remove();
        jQuery("#hdnStatus").val(newVal);
    }
</script>


<script type="text/javascript">

    function removeitbyID(id) {
        var val = jQuery("#hdnStatus").val();
        var newVal = "";
        var replaceStr = "";
        if (val.indexOf(id + ",") == -1) {
            replaceStr = "," + id;
            newVal = val.replace(replaceStr, "");
        }
        else {
            replaceStr = id + ","
            newVal = val.replace(replaceStr, "");
        }
        jQuery("#" + id).hide();
        jQuery("#hdnStatus").val(newVal);
    }
</script>
@*<script type="text/javascript">

    jQuery(function () {
        jQuery('form').submit(function () {
            jQuery.ajax({
                url: this.action,
                type: this.method,
                // you can post your model with this line
                data: jQuery(this).serialize(),
                beforeSend: function () {
                    var btn = jQuery('#btnSave');
                    btn.button('loading');
                },
                complete: function () {
                    var btn = jQuery('#btnSave');
                    btn.button('Save');
                },
                success: function (result) {
                   // jQuery.jGrowl('Success!!!', { life: 5000 });
                },
                error: function () {
                    jQuery.jGrowl('somethis is wrong!!!', { life: 5000 });
                }
            });
            return false;
        });
    });
</script>*@