@model PMTool.Models.Project

@{
    ViewBag.Title = "Details | Projects";
}

<div class="pagetitle">
    <h1>
        Project Details
    </h1>
    <span>Project details below....</span>
</div>
<table class="table table-bordered table-invoice">
    <tbody>
        <tr>
            <td class="width30">
                Name
            </td>
            <td>
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="width30">
                Description
            </td>
            <td>
                @Html.DisplayTextFor(_ => Model.Description).ToString()
            </td>
        </tr>
        <tr>
            <td class="width30">
                Is Locked
            </td>
            <td>
                @Html.DisplayTextFor(_ => Model.IsLocked).ToString()
            </td>
        </tr>
        <tr>
            <td class="width30">
                Is Active
            </td>
            <td>
                @Html.DisplayTextFor(_ => Model.IsActive).ToString()
            </td>
        </tr>
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }, new { @class = "btn btn-primary" })
    |
    @Html.ActionLink("Back to List", "Index","Projects", "",new { @class="btn"})
</p>




@*@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">IsLocked</div>
    <div class="display-field">@Model.IsLocked</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">@Model.CreatedBy</div>

    <div class="display-label">ModifieddBy</div>
    <div class="display-field">@Model.ModifieddBy</div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>

    <div class="display-label">ModificationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ModificationDate)</div>

    <div class="display-label">ActionDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ActionDate)</div>

    <div class="display-label">CreatedByUser</div>
    <div class="display-field">@(Model.CreatedByUser == null ? "None" : Model.CreatedByUser.LastName)</div>

    <div class="display-label">ModifiedByUser</div>
    <div class="display-field">@(Model.ModifiedByUser == null ? "None" : Model.ModifiedByUser.LastName)</div>

    <div class="display-label">Users</div>
    <div class="display-field">@(Model.Users == null ? "None" : Model.Users.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

*@
