@model IEnumerable<PMTool.Models.Project>

@{
    ViewBag.Title = "Index | Project";
}




<div class="pagetitle">
    <h1>Project List</h1>
    <span>List of Projects....</span>
</div>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @title = "Add Project", @class = "btn btn-primary" })
</p>
<table class="table table-bordered" id="dyntable">
    <thead>
        <tr>
            <th>Project Name
            </th>
            <th>Is Locked</th>

            <th>Is Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                   @Html.DisplayTextFor(_ =>item.IsLocked).ToString()
                </td>

                <td>
                    @Html.DisplayTextFor(_ => item.IsActive).ToString()
                </td>
                <td align="center">
                    @Html.ActionLink(" ", "Edit", new { id = item.ProjectID }, new { @class = "icon-edit", @title = "Edit" })
                    |
                    @Html.ActionLink(" ", "Details", new { id = item.ProjectID }, new { @class = "icon-list-alt", @title = "Details" })
                    |
                    @Html.ActionLink(" ", "Delete", new { id = item.ProjectID }, new { @class = "icon-trash", @title = "Delete" })
                </td>
            </tr>
        }
    </tbody>
</table>


@*@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            IsLocked
        </th>
        <th>
            IsActive
        </th>
        <th>
            CreatedBy
        </th>
        <th>
            ModifieddBy
        </th>
        <th>
            CreateDate
        </th>
        <th>
            ModificationDate
        </th>
        <th>
            ActionDate
        </th>
        <th>
            CreatedByUser
        </th>
        <th>
            ModifiedByUser
        </th>
        <th>
            Users
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.IsLocked
        </td>
        <td>
			@item.IsActive
        </td>
        <td>
			@item.CreatedBy
        </td>
        <td>
			@item.ModifieddBy
        </td>
        <td>
			@String.Format("{0:g}", item.CreateDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ModificationDate)
        </td>
        <td>
			@String.Format("{0:g}", item.ActionDate)
        </td>
        <td>
			@(item.CreatedByUser == null ? "None" : item.CreatedByUser.LastName)
        </td>
        <td>
			@(item.ModifiedByUser == null ? "None" : item.ModifiedByUser.LastName)
        </td>
        <td>
			@(item.Users == null ? "None" : item.Users.Count.ToString())
        </td>
    </tr>
}

</table>

*@
