@model IEnumerable<PMTool.Models.Project>

@{
    ViewBag.Title = "Index | Project";
}
@if (TempData["Message"]!=null)
{
<div class="alert alert-info">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <strong>Warning!</strong>
    @TempData["Message"]
</div>
}

<div class="pagetitle">
    <h1>Project List</h1>
    <span>List of Projects....</span>
</div>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @title = "Add Project", @class = "btn btn-primary" })
</p>
<table class="table table-bordered" id="dyntable">
    <thead>
        <tr>
            <th>Project Name
            </th>
            <th>Is Locked</th>

            <th>Is Active
            </th>
            <th>Add Tasks
            </th>
            <th>Show Tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                   @Html.DisplayTextFor(_ =>item.IsLocked).ToString()
                </td>

                <td>
                    @Html.DisplayTextFor(_ => item.IsActive).ToString()
                </td>
                <td>
                    @Html.ActionLink("Add Tasks", "Create","Tasks", new { ProjectID = item.ProjectID }, new { @title = "Show Tasks" })
                </td>
                <td>
                    @Html.ActionLink("Show Tasks", "ProjectTasks","Tasks", new { ProjectID = item.ProjectID }, new { @title = "Show Tasks" })
                </td>
                <td align="center">
                    @Html.ActionLink(" ", "Edit", new { id = item.ProjectID }, new { @class = "icon-edit", @title = "Edit" })
                    |
                    @Html.ActionLink(" ", "Details", new { id = item.ProjectID }, new { @class = "icon-list-alt", @title = "Details" })
                    |
                    @Html.ActionLink(" ", "Delete", new { id = item.ProjectID }, new { @class = "icon-trash", @title = "Delete" })
                </td>
            </tr>
        }
    </tbody>
</table>


